Django>=2.2.24,<3.0
django-ckeditor
pip
pytz
setuptools
sqlparse
wheel
Pillow
amqp
asgiref
billiard
cached-property
celery
click
click-didyoumean
click-plugins
click-repl
django-js-asset
importlib-metadata
kombu
redis
six
typing-extensions
vine
wcwidth
zipp
