.admin-panel {
    /* background: red; */
    border: 1px solid #999;
    border-radius: 2px;
    position: fixed;
    right: 50px;
    /* bottom: 30px; */
    head: 15px;
    opacity: 0.3; /* brightness */
    padding: 15px;
    margin: 5px 0;  /*  resize more wide  */
}

.admin-panel:hover {
    opacity: 1;
}

/*.admin-panel a {  a - for links
    display: block; for horizontal view
    margin: 5px 0;
} */

a.edit, a.delete {
    display: none;
}

.answered {
    margin-left: 50px;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    background-color: #f5f5f5;
    border: 2px solid #cccccc;
}