{% extends 'base.html' %}



{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <form enctype="multipart/form-data" action="" method="post">
          {% csrf_token %}
            <div class="form-group">
              {{ form.username.label }}
              {{ form.username }}
              {{ user.username }}

            </div>
            <div class="form-group">
              {{ form.email.label }}
              {{ form.email }}
              {{ user.email }}
            </div>
            <div class="form-group">
              {{ form.avatar.label }}
              {{ form.avatar }}
            </div>
          <input type="submit" value="submit" class='btn btn-primary'>
        </form>
      </div>
    </div>
  </div>


            <img src="{{ user.userprofile.avatar.url }}" />



{% endblock %}