{% extends 'hasker/base_hasker.html' %}


{% block title %}
    Hasker: Poor man's Stackoverflow
{% endblock %}


{% block content %}

    <h2>Block content:</h2>

    {% for question in questions %}
        <div>
            <a href="{{ question.get_absolute_url }}" >{{ question.title }} </a>
            <p> asked {{ question.date_create }} by {{ question.author }} </p>
            <br>
        </div>

    {% endfor %}


        <div id="trending">
            <div class="title">Trending</div>
            <table>
                {% for question in trending %}
                <tr>
                    <td class="rating">{{ question.rating }}</td>
                    <td><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>


{% endblock %}