{% extends 'hasker/base_hasker.html' %}

{% block title %}
    {{ question.title }} - {{ question.super }}
{% endblock %}

{% block content %}
    <h1>
        {{ question.title }}
    </h1>

    <p>
        {{ question.content }}
    </p>

    <div class="admin-panel">
        <div> tags: </div>
       {% for tag in question.tags.all %}
        <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
       {% endfor %}
    </div>

    <h3>
        {% if question.answer_count == 0 %} No answers yet {% endif %}
        {% if question.answer_count == 1 %} {{ question.answer_count }} Answer {% endif %}
        {% if question.answer_count > 1 %} {{ question.answer_count }} Answers {% endif %}
    </h3>


    <p>
{#       {% for answer in question.answer_set.all %} #}
         {% for answer in page_obj.object_list %}
            {{ answer.content }} {% if choised_answer_id == answer.id %} You vote for this answer {% endif %}
            <br>

                {% if user_can_vote %}
                <li><a href="{% url 'vote_answer_url' answer.id %}">user can vote: {{ user_can_vote }} </a></li>
                {% endif %}

                {% if choised_answer_id == answer.id %}
                <li><a href="{% url 'vote_answer_url' answer.id %}">re-vote </a></li>
                {% endif %}

            <p class="answered"> answered {{ answer.user  }} {{ answer.date_create }} Votes: {{ answer.vote_count }} </p>
            <br>
       {% endfor %}
    </p>

{% if user.is_authenticated %}
    {% if question.author != request.user %}
    <form action="{{ question.get_absolute_url }}" method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}

            {{ field.label  }}
            {{ field }}
        {% endfor %}
         <button type="submit">Add answer</button>
    </form>
    {% endif %}
    {% if question.author == request.user %}
        <div> You can not answered on your question </div>
    {% endif %}

{% endif %}


{% endblock %}

