{% extends 'hasker/base_hasker.html' %}

{% block title %}
    Ask question - {{ block.super }}
{% endblock %}

{% block content %}

    <form action="{% url 'question_create_url' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}

            {{ field.label  }}
            <br>
            {{ field }}
            <br>
        {% endfor %}

        <br>
        <button type="submit">create question</button>
    </form>

{% endblock %}
