{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>

        {% block title %}
            Hasker
        {% endblock %}

    </title>
</head>
<body>

<h1>Hasker application</h1>

<ul>
    <li> <a href="{% url 'questions_list_url' %}" > All Questions </a> </li>
    <li> <a href="{% url 'tags_list_url' %}" > All Tags </a> </li>
</ul>

<div>
    <form action="{% url 'questions_list_url' %}">
        <input type="search" placeholder="Search" aria-label="Search" name="search">
        <button type="submit" > Search </button>
    </form>
</div>

{% if not request.user.is_authenticated %}
    <div class="admin-panel">
        <a href="/accounts/login"> Login </a>
    </div>
{% endif %}

{% if request.user.is_authenticated %}
    <div class="admin-panel">
         <div> Signed is as
            <a style="font-weight: bold"> {{ request.user }} </a>
         </div>
        {% if request.user.is_superuser %}
            <a href="/admin"> Admin </a>
        {% endif %}
            <a href="/accounts/logout"> Logout </a>
            {% block admin-panel %}
            {% endblock %}
    </div>
{% endif %}


{% block content %}
    No one question here
{% endblock %}


{% if is_paginated %}
<ul>
    {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}">PREV</a>
        </li>
    {% endif %}

    <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}">NEXT</a>
        </li>
    {% endif %}
</ul>
{% endif %}





</body>
</html>