{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>

        {% block title %}
            Hasker
        {% endblock %}

    </title>
</head>
<body>

<h1>Hasker application</h1>

<ul>

<li> <a href="{% url 'questions_list_url' %}" > All Questions </a> </li>
<li> <a href="{% url 'tags_list_url' %}" > All Tags </a> </li>

{#    {% if request.user.is_authenticated and if request.user.is_staff %} #}
    {% if request.user.is_authenticated %}

<div class="admin-panel">
    <a href="/admin"> Admin </a>
    {% block admin-panel %}  {% endblock %}
</div>

    {% endif %}

</ul>
        {% block content %}
            No one question here
        {% endblock %}

{% if is_paginated %}

<nav aria-label="">
    <ul>
        <li class="{% if not prev_url %} disabled {% endif %}">
            <a href="{{  prev_url }}" tabindex="-1">Prev</a>
        </li>

{#        <li><a href="#">1</a> </li> #}

        {% for n in page_object.paginator.page_range %}
            {% if page_object.number == n %}
                <li>
                    <a href="?page{{ n }}">
                        {{ n }}
                        <span>
                            (current)
                        </span>
                    </a>
                </li>
            {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
            <li>
                <a href="?page={{ n }}">{{ n }}</a>
            </li>
            {% endif %}
        {% endfor %}

        <li class="{% if not next_url %} disabled {% endif %}">
            <a href="{{ next_url }}" tabindex="-1">Next</a>
        </li>
    </ul>
</nav>

{% endif %} 

</body>
</html>